############################
# Node
############################
node_modules/
.pnp
.pnp.js

############################
# Strapi
############################
.tmp/
.cache/
build/
dist/
.strapi/
.strapi-updater.json

############################
# Env / secrets
############################
.env
.env.local
.env.*.local

############################
# Logs / misc
############################
*.log
npm-debug.log*
.DS_Store
.idea/
.vscode/
